<form [formGroup]="form">
<div class="form-group">
  <label>Old Password</label>
  <input type="password" 
        class="form-control" 
        formControlName="oldPassword" >
     <div 
      *ngIf="oldPassword.touched && !oldPassword.vaild"
      class="alert alert-danger" >
        <div *ngIf="oldPassword.errors?.required">Old Password Required</div>
        <div *ngIf="oldPassword.errors?.invalidPassword">Old Password invaild</div>
      </div>
      </div>

<div class="form-group">
  <label>New Password</label>
  <input type="password" 
         class="form-control"
         formControlName="newPassword">
         <div class="alert alert-danger" *ngIf="newPassword.touched && !newPassword.vaild">
            <div *ngIf="newPassword.errors?.required">New  Password Required</div>
          </div>
</div>
<div class="form-group">
  <label for="">Confirm Password</label>
  <input type="password" 
  class="form-control"
  formControlName="confirmPassword"></div>
   <div class="alert alert-danger" *ngIf="confirmPassword.touched && !confirmPassword.vaild">
      <div *ngIf="confirmPassword.errors?.required">confirm Password Required</div>

    </div>
    <div *ngIf=" confirmPassword.touched && !form.valid && form.errors.passwordsShouldMatch">Passwords do not match</div>

    <button  [disabled]="!form.valid" class="btn btn-success">Submit</button>
</form>