<h1>My Anagular prpject</h1>
<!--<hello-world></hello-world>
<auther-name></auther-name>
<libires-book></libires-book>
<auther-info></auther-info>

<flat-info></flat-info>
<app-attribute-demo></app-attribute-demo>-->
<!--<app-classbinding></app-classbinding>
<app-event-binding></app-event-binding>
<app-style-binding></app-style-binding>-->
<!--<app-angular-pipe></app-angular-pipe>-->
<!--<app-intercomm [isSelected]="isSelected"
 [count]="count"
 [isUpDisable]="isUpDisable"
 [favarite]="isDownDisable"
 (clickEvent)="onDownEvent($event)"
 ></app-intercomm>-->
<!--<app-ng-class-binding></app-ng-class-binding>-->
<!--
<app-ngcontent>
    <ng-content></ng-content>
</app-ngcontent>

<app-ng-container>
    <ng-container></ng-container>
</app-ng-container>-->
<!--
<app-ngif></app-ngif>-->
<!--<app-ng-swich></app-ng-swich>-->

<!--<app-ng-for></app-ng-for>-->
<!--<app-ngfor-demo></app-ngfor-demo>-->
<!--<app-ngfor-demo></app-ngfor-demo>-->
<!--<app-template-event-form></app-template-event-form>-->

<app-demo-template-form></app-demo-template-form>
<!-- <app-reactive-form></app-reactive-form> -->

